{% extends "login/layout_login.html" %}
{% block content %}
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">{{ _('Sign in') }}</div>
      <div class="card-body">
        {{ output_flashed_messages() }}
        <form method=post>
            {{ form.hidden_tag() }}
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
            <input type=submit class="btn btn-primary btn-block" value={{ _('Sign in') }}>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/register">{{ _('Sign up') }}</a>
          <a class="d-block small" href="/reset">{{ _('Forgot Password?') }}</a>
        </div>
      </div>
    </div>
{% endblock %}