{% extends "login/layout_login.html" %}
{% block content %}
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">{{ _('Sign up') }}</div>
      <div class="card-body">
        {{ output_flashed_messages() }}
        <form method=post>
            {{ form.hidden_tag() }}
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    {{ form.username.label }}
                    {{ form.username(required=form.username.flags.required,class_="form-control",placeholder={{ _("Enter Username") }})|safe }}
                  </div>
                  <div class="col-md-6">
                      <div class="form-check" style="margin-top: 2.4rem;">
                          {{ form.admin(required=form.admin.flags.required,class_="form-check-input")|safe }}
                          {{ form.admin.label(class_="form-check-label") }}
                      </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    {{ form.firstname.label }}
                    {{ form.firstname(required=form.firstname.flags.required,class_="form-control",placeholder={{ _("Enter First name") }})|safe }}
                  </div>
                  <div class="col-md-6">
                    {{ form.lastname.label }}
                    {{ form.lastname(required=form.lastname.flags.required,class_="form-control",placeholder={{ _("Enter Last name") }})|safe }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                {{ form.email.label }}
                {{ form.email(required=form.email.flags.required,class_="form-control",placeholder={{ _("Enter Email") }})|safe }}
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    {{ form.password.label }}
                    {{ form.password(required=form.password.flags.required,class_="form-control",placeholder={{ _("Enter Password") }})|safe }}
                  </div>
                  <div class="col-md-6">
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(required=form.confirm_password.flags.required,class_="form-control",placeholder={{ _("Enter Password") }})|safe }}
                  </div>
                </div>
                  {% if form.confirm_password.errors %}
                      {% for error in form.confirm_password.errors %}
                          <p>{{ error }}</p>
                      {% endfor %}
                  {% endif %}
                  {% if form.password.errors %}
                      {% for error in form.password.errors %}
                          <p style="color: red;">{{ error }}</p>
                      {% endfor %}
                  {% endif %}
              </div>
            <input type=submit class="btn btn-primary btn-block" value={{ _('Sign up') }}>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/login">{{ _('Sign in') }}</a>
          <a class="d-block small" href="/reset">{{ _('Forgot Password?') }}</a>
        </div>
      </div>
    </div>
{% endblock %}
